@tailwind base;
@tailwind components;
@tailwind utilities;

.background__home{
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}